{{template "header.html.tmpl" .}}
<body>
  <form onsubmit="return validate()">
    <div style="white-space: nowrap">
      <label for="start" title="Consule URL or korrel8r query"><b>Start: </b></label>
      <input type="text" id="start" name="start" value="{{.Start}}" size="50" accesskey="k">
      <br>
      {{with .StartQuery}}<pre>{{.}}</pre>{{end}}
    </div>
    <div style="white-space: nowrap">
      <b>Goals: </b>
      <br>
      {{range .Goals}}
        <input type="radio" name="goal" id="{{.}}" value="{{.}}" {{if eq $.Goal .}}checked{{end}}>
        <lable for="{{.}}">{{.}}</lable>
        <br>
      {{end}}
      <input type="radio" name="goal" id="other" value="other" {{if eq .Goal "other"}}checked{{end}}>
      <label for="other"> Other
        <input type="text" name="other" id="otherText" value="{{.Other}}">
      </label>
      <br>
      <input type="radio" name="goal" id="neighbours" value="neighbours" {{if eq .Goal "neighbours"}}checked{{end}}>
      <label for="neighbours"> <b>Neighbours</b>
        <input type="text" name="neighbours" id="neighboursText" value="{{.Depth}}" size="4">
      </label>
    </p>
    <p>
      <input type="submit" id="submit" value="Update Graph">
      <span id="waiting" style="display:none;"><img src="images/gears.gif" id="loading"></span>
    </p>
  </form>

  <script type="text/javascript">
   <!-- Show spinner while waiting -->
   function validate(form) {
     document.getElementById("submit").style.display="none";
     document.getElementById("results").style.display="none";
     document.getElementById("waiting").style.display="";
     return true;
   }
  </script>

  <div id="results">
    {{with .Err}}
      <hr>
      <h2>Errors</h2>
      <div style="white-space: pre-line; border-width:2px; border-style:solid; border-color:red"> {{printf "%+v" .}}</div>
    {{end}}

    {{if .Diagram}}
      <hr>
      <h3>Diagram</h3>
      <p align="center">
        <object type="image/svg+xml" data="{{.Diagram}}"></object><br>
        <a href="{{.DiagramImg}}" target="_blank">Image</a>
        <a href="{{.DiagramTxt}}" target="_blank">Source</a>
      </p>
    {{end}}

    <hr>
    <h2>Detailed Results</h2>
    <p>
      Update time: {{.UpdateTime}} ({{.Graph.Nodes.Len}} nodes, {{len .Graph.AllLines}} lines)<br>
      {{with .StartClass}}Start: <code>{{.String}}</code><br>{{end}}
      {{if .GoalClasses}}Goals: <code>{{range .GoalClasses}}{{.String}} {{end}}</code><br>{{end}}
      {{with .Depth}}Neighbourhood depth: {{.}}<br>{{end}}
      <ul>
        {{range (and .Graph .Graph.AllNodes)}}
	  {{$lines := $.Graph.LinesTo .}}
          <li><code><b>{{.Class.String}}</b></code> ({{len .Result.List}} objects)
            <ul>
              {{range $lines}}
                <li><code>{{.Rule.String}}</code></li>
                <ul>
                  {{range $q, $qc := .Queries}}
                    <li>
                        <a href="/api/v1alpha1/objects?query={{$q|urlquery}}" target="_blank">{{$qc.Count}}</a>:
                        <a href="{{$.NewStartURL $q}}">{{$q}}</a>
                    </li>
                  {{end}}
                </ul>
              {{end}}
            </ul>
          </li>
        {{end}}
      </ul>
    </p>
  </div>
</body>
