apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- namespace.yaml
- service.yaml

namespace: korrel8r

labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/name: korrel8r

images:
- name: quay.io/korrel8r/korrel8r
  newName: quay.io/korrel8r/korrel8r
  newTag: 0.8.3-dev
