name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: "1.21"

    - name: Cache Go Packages and Tools
      id: cache-compiled-go
      uses: actions/cache@v3
      with:
        path: ~/go
        key: cache-${{ runner.os }}-${{ runner.arch }}

    - name: Generate and Lint
      run: make generate lint

    - name: Test
      run: make test-skip
